/* 상단 바 */
.navbar {
  width: 100%;
  height: 50px;
  background-color: #222;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative; /* 중요 */
  z-index: 2000;     /* 사이드바보다 높게 */
}

.nav-logo {
  margin-left: 10px;
}

/* 메뉴 버튼 */
.menu-btn {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  z-index: 2100;      /* 사이드바보다 높게 */
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: left 0.3s ease;
  z-index: 1000; /* 상단 바보다 낮게 */
  padding-top: 60px;
}

.sidebar.open {
  left: 0;
}

.sidebar .close-sidebar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px 20px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar ul li a:hover {
  background-color: #444;
}

/* main content */
.main-content {
  padding: 15px;
  margin-left: 0;
}

.nav-logo-img {
  height: 30px;
  margin-left: 20px;  /* 햄버거 버튼과 간격 */
  margin-right: 20px;
  vertical-align: middle;
}